Repository otajisan/aws-app-mesh-cognito-auth-example: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-mtaji-test-app-mesh-fe, build-mtaji-test-app-mesh-be

:+1: fix: circle ci config
  .circleci/publish.yml
Due: none

:+1: add: CodeCov config
  .circleci/publish.yml
Due: none

:+1: fix: frontend README
  frontend/README.md
  frontend/src/pages/api/hello.ts
Due: build-mtaji-test-app-mesh-fe

:+1: fix: gradle test
  backend/src/test/kotlin/com/example/backend/GreetingControllerTests.kt
Due: build-mtaji-test-app-mesh-be

:+1: fix: codecov config
  .circleci/publish.yml
Due: none

:+1: fix: yaml
  .circleci/publish.yml
Due: none

:+1: updated readme
  README.md
  backend/README.md
Due: build-mtaji-test-app-mesh-be

:+1: fix: ECR repo path
  backend/build.gradle.kts
Due: build-mtaji-test-app-mesh-be

:+1: fix: frontend path
  .circleci/publish.yml
Due: none

:+1: updated readme
  frontend/README.md
Due: build-mtaji-test-app-mesh-fe

:+1: fix: ci config
  .circleci/config.yml
  .circleci/publish.yml
  cdk/README.md
  cdk/bin/deploy-aws-app-mesh-cognito-auth-example.ts
  cdk/lib/back-end-stack.ts
Due: none

:+1: add: Envoy healthcheck
  cdk/lib/back-end-stack.ts
Due: none

:+1: fix: ci config
  .circleci/publish.yml
Due: none

:+1: fix: health check configurations
  cdk/lib/back-end-stack.ts
Due: none

:+1: fix: indent
  .circleci/publish.yml
Due: none

:+1: add: node orbs
  .circleci/publish.yml
Due: none

:+1: add: Envoy Ingress Gateway service
  cdk/README.md
  cdk/bin/deploy-aws-app-mesh-cognito-auth-example.ts
  cdk/lib/back-end-stack.ts
  cdk/lib/front-end-stack.ts
  cdk/lib/ingress-gateway-service-stack.ts
Due: none

Path conditions:
  build-mtaji-test-app-mesh-fe: any of: frontend/.*
  build-mtaji-test-app-mesh-be: any of: backend/.*
